In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import pickle
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn import svm, datasets
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
import sklearn
from sklearn.model_selection import train_test_split
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree

In [4]:
train_data1=pd.read_csv('/content/train.csv')
test_data1=pd.read_csv('/content/test.csv')

In [5]:
train_data=train_data1.fillna(0)
test_data=test_data1.fillna(0)

In [6]:
train_data

        id      a     b  c  d      e       f     g        h  i
0     4453  Black  71.0  1  0  fluid  229.73  30.4     Good  0
1     1473  Black  49.0  1  0  solid  139.43  40.2   Normal  0
2     2119  Black  42.0  0  0  solid   68.24  33.1   Normal  0
3     3391  White  53.0  1  0  solid  240.86  31.9     Good  0
4     1000  Black  70.0  1  0  fluid   74.04  29.1     Good  0
...    ...    ...   ... .. ..    ...     ...   ...      ... ..
3572  1402  Black  57.0  0  0  fluid   85.99  21.2  Unknown  0
3573  2927  Black  15.0  0  0  solid  113.28  23.7     Good  0
3574  4937  White  62.0  1  0  solid  103.69  35.2    Worse  0
3575  3001  Black  33.0  0  0  fluid   91.53  38.8   Normal  0
3576  1387  White  37.0  0  0  fluid   98.12  27.5     Good  0

[3577 rows x 10 columns]

In [7]:
test_data

        id      a     b  c  d      e       f     g        h
0      169  Black  81.0  0  0  fluid   91.54  31.4     Good
1     4022  White  81.0  1  0  solid  181.23  36.7     Good
2     4313  Black  57.0  0  0  solid  134.76  29.1  Unknown
3     1052  White  61.0  0  0  fluid   78.65  36.2   Normal
4     1100  White  67.0  0  0  solid   68.61  31.9     Good
...    ...    ...   ... .. ..    ...     ...   ...      ...
1528   349  White  48.0  0  0  solid  101.41  20.7    Worse
1529  1535  White  55.0  0  0  solid  231.76  42.9     Good
1530  2251  Black  49.0  0  0  solid  130.07  26.0     Good
1531  3801  White  28.0  0  0  solid   69.50  24.5     Good
1532  4141  White  59.0  0  0  fluid   60.64  20.0     Good

[1533 rows x 9 columns]

In [8]:
loans_one_hot_enc = pd.get_dummies(train_data)

In [9]:
loans_one_hot_enc

        id     b  c  d       f  ...  e_solid  h_Good  h_Normal  h_Unknown  h_Worse
0     4453  71.0  1  0  229.73  ...        0       1         0          0        0
1     1473  49.0  1  0  139.43  ...        1       0         1          0        0
2     2119  42.0  0  0   68.24  ...        1       0         1          0        0
3     3391  53.0  1  0  240.86  ...        1       1         0          0        0
4     1000  70.0  1  0   74.04  ...        0       1         0          0        0
...    ...   ... .. ..     ...  ...      ...     ...       ...        ...      ...
3572  1402  57.0  0  0   85.99  ...        0       0         0          1        0
3573  2927  15.0  0  0  113.28  ...        1       1         0          0        0
3574  4937  62.0  1  0  103.69  ...        1       0         0          0        1
3575  3001  33.0  0  0   91.53  ...        0       0         1          0        0
3576  1387  37.0  0  0   98.12  ...        0       1         0          0        0

[3577 rows x 16 columns]

In [35]:
x = loans_one_hot_enc[["b", "c",'d','f','g']]
y = loans_one_hot_enc[["i"]]

In [36]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, test_size=0.2, random_state = 124)

In [37]:
from sklearn.tree import DecisionTreeClassifier
DecisionTree = DecisionTreeClassifier(criterion='entropy',random_state=2,max_depth=5)
DecisionTree.fit(x_train,y_train)
#predicted_values = DecisionTree.predict(x_test)
x = DecisionTree.score(x_test,y_test)
print("DecisionTrees's Accuracy is: ", x*100)

DecisionTrees's Accuracy is:  94.1340782122905

In [28]:
from sklearn.naive_bayes import GaussianNB
NaiveBayes = GaussianNB()
NaiveBayes.fit(x_train,y_train)
predicted_values = NaiveBayes.predict(x_test)
x = metrics.accuracy_score(y_test, predicted_values)
print("Naive Bayes's Accuracy is: ", x*100)

Naive Bayes's Accuracy is:  76.39664804469274

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [29]:
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(n_estimators=20, random_state=0)
RF.fit(x_train,y_train)

predicted_values = RF.predict(x_test)

x = metrics.accuracy_score(y_test, predicted_values)

print("Random Forest model Accuracy is: ", x*100)

Random Forest model Accuracy is:  93.71508379888269

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [38]:
sample_test=test_data[["b", "c",'d','f','g']]

In [41]:
finaly=DecisionTree.predict(sample_test)

In [42]:
finaly

array([0, 0, 0, ..., 0, 0, 0])

In [45]:
data = {'id': test_data['id'],
        'i': finaly
        }

df = pd.DataFrame(data)

print (df)

        id  i
0      169  0
1     4022  0
2     4313  0
3     1052  0
4     1100  0
...    ... ..
1528   349  0
1529  1535  0
1530  2251  0
1531  3801  0
1532  4141  0

[1533 rows x 2 columns]

In [46]:
df

        id  i
0      169  0
1     4022  0
2     4313  0
3     1052  0
4     1100  0
...    ... ..
1528   349  0
1529  1535  0
1530  2251  0
1531  3801  0
1532  4141  0

[1533 rows x 2 columns]

In [47]:
df.to_csv('file_name.csv')